#
# Neko configuration file for a simulation
#

#
# Indicate that this is a simulation.
#
simulation = true

#
# The number of communicating processes.
#
process.num = 8

# process.0.crash.start = 1
# process.1.crash.start = 1
# process.2.crash.start = 1
# process.3.crash.start = 1
# process.4.crash.start = 1
 process.5.crash.start = 1
 #process.6.crash.start = 1
# process.7.crash.start = 1



#
# The class that initializes the protocol stack of each process.
# Neko calls its init method.
#
#process.initializer = br.unioeste.ppgcomp.initializers.LazyReliableInitializer
process.initializer = br.unioeste.ppgcomp.initializers.AtomicInitializer



#
# The network used for communication.
# MetricNetwork is a simulated network.
# network.lambda is a parameter of this network.
# network.multicast indicates that the network simulates multicast
# messages (and does not send them as a bunch of unicast messages).
#
network = lse.neko.networks.sim.BasicNetwork
BasicNetwork.lambda = 1.0

#network = lse.neko.networks.sim.MetricNetwork
#network.lambda = 1
#network = lse.neko.networks.sim.RandomNetwork
#RandomNetwork.lambda = 0.1

simulation.time=100




#
# Options to enable the logging of messages
# into the file log.log.
# All these are standard options for the java.util.logging package.
#

# Write the log to a file and to the console.
handlers = java.util.logging.FileHandler,java.util.logging.ConsoleHandler
# Sets the name of the log file.
java.util.logging.FileHandler.pattern = atomic.log
# The messages channel logs all messages exchanged among processes
# at the FINE level. 
# The file handler logs them.
# The console handler does not log them, as it only logs messages
# at levels INFO or higher.
messages.level = FINE

